[SMT-http_smt-ec2_susecloud_net]
enabled=1
autorefresh=1
url = http://smt-ec2.susecloud.net/?credentials=SMT-http_smt-ec2_susecloud_net
type = ris
repo_1=SMT-http_smt-ec2_susecloud_net:SLE-Module-Adv-Systems-Management12-Debuginfo-Pool
repo_1_enabled=0
repo_1_autorefresh=0
repo_2=SMT-http_smt-ec2_susecloud_net:SLE-Module-Adv-Systems-Management12-Debuginfo-Updates
repo_2_enabled=0
repo_2_autorefresh=1
repo_3=SMT-http_smt-ec2_susecloud_net:SLE-Module-Adv-Systems-Management12-Pool
repo_3_enabled=1
repo_3_autorefresh=0
repo_4=SMT-http_smt-ec2_susecloud_net:SLE-Module-Adv-Systems-Management12-Updates
repo_4_enabled=1
repo_4_autorefresh=1
repo_5=SMT-http_smt-ec2_susecloud_net:SLE-Module-Containers12-Debuginfo-Pool
repo_5_enabled=0
repo_5_autorefresh=0
repo_6=SMT-http_smt-ec2_susecloud_net:SLE-Module-Containers12-Debuginfo-Updates
repo_6_enabled=0
repo_6_autorefresh=1
repo_7=SMT-http_smt-ec2_susecloud_net:SLE-Module-Containers12-Pool
repo_7_enabled=1
repo_7_autorefresh=0
repo_8=SMT-http_smt-ec2_susecloud_net:SLE-Module-Containers12-Updates
repo_8_enabled=1
repo_8_autorefresh=1
repo_9=SMT-http_smt-ec2_susecloud_net:SLE-Module-Legacy12-Debuginfo-Pool
repo_9_enabled=0
repo_9_autorefresh=0
repo_10=SMT-http_smt-ec2_susecloud_net:SLE-Module-Legacy12-Debuginfo-Updates
repo_10_enabled=0
repo_10_autorefresh=1
repo_11=SMT-http_smt-ec2_susecloud_net:SLE-Module-Legacy12-Pool
repo_11_enabled=1
repo_11_autorefresh=0
repo_12=SMT-http_smt-ec2_susecloud_net:SLE-Module-Legacy12-Updates
repo_12_enabled=1
repo_12_autorefresh=1
repo_13=SMT-http_smt-ec2_susecloud_net:SLE-Module-Public-Cloud12-Debuginfo-Pool
repo_13_enabled=0
repo_13_autorefresh=0
repo_14=SMT-http_smt-ec2_susecloud_net:SLE-Module-Public-Cloud12-Debuginfo-Updates
repo_14_enabled=0
repo_14_autorefresh=1
repo_15=SMT-http_smt-ec2_susecloud_net:SLE-Module-Public-Cloud12-Pool
repo_15_enabled=1
repo_15_autorefresh=0
repo_16=SMT-http_smt-ec2_susecloud_net:SLE-Module-Public-Cloud12-Updates
repo_16_enabled=1
repo_16_autorefresh=1
repo_17=SMT-http_smt-ec2_susecloud_net:SLE-Module-Toolchain12-Debuginfo-Pool
repo_17_enabled=0
repo_17_autorefresh=0
repo_18=SMT-http_smt-ec2_susecloud_net:SLE-Module-Toolchain12-Debuginfo-Updates
repo_18_enabled=0
repo_18_autorefresh=1
repo_19=SMT-http_smt-ec2_susecloud_net:SLE-Module-Toolchain12-Pool
repo_19_enabled=1
repo_19_autorefresh=0
repo_20=SMT-http_smt-ec2_susecloud_net:SLE-Module-Toolchain12-Updates
repo_20_enabled=1
repo_20_autorefresh=1
repo_21=SMT-http_smt-ec2_susecloud_net:SLE-Module-Web-Scripting12-Debuginfo-Pool
repo_21_enabled=0
repo_21_autorefresh=0
repo_22=SMT-http_smt-ec2_susecloud_net:SLE-Module-Web-Scripting12-Debuginfo-Updates
repo_22_enabled=0
repo_22_autorefresh=1
repo_23=SMT-http_smt-ec2_susecloud_net:SLE-Module-Web-Scripting12-Pool
repo_23_enabled=1
repo_23_autorefresh=0
repo_24=SMT-http_smt-ec2_susecloud_net:SLE-Module-Web-Scripting12-Updates
repo_24_enabled=1
repo_24_autorefresh=1
repo_25=SMT-http_smt-ec2_susecloud_net:SLE-SDK12-SP1-Debuginfo-Pool
repo_25_enabled=0
repo_25_autorefresh=0
repo_26=SMT-http_smt-ec2_susecloud_net:SLE-SDK12-SP1-Debuginfo-Updates
repo_26_enabled=0
repo_26_autorefresh=1
repo_27=SMT-http_smt-ec2_susecloud_net:SLE-SDK12-SP1-Pool
repo_27_enabled=1
repo_27_autorefresh=0
repo_28=SMT-http_smt-ec2_susecloud_net:SLE-SDK12-SP1-Updates
repo_28_enabled=1
repo_28_autorefresh=1
repo_29=SMT-http_smt-ec2_susecloud_net:SLES12-SP1-Debuginfo-Pool
repo_29_enabled=0
repo_29_autorefresh=0
repo_30=SMT-http_smt-ec2_susecloud_net:SLES12-SP1-Debuginfo-Updates
repo_30_enabled=0
repo_30_autorefresh=1
repo_31=SMT-http_smt-ec2_susecloud_net:SLES12-SP1-Pool
repo_31_enabled=1
repo_31_autorefresh=0
repo_32=SMT-http_smt-ec2_susecloud_net:SLES12-SP1-Source-Pool
repo_32_enabled=0
repo_32_autorefresh=0
repo_33=SMT-http_smt-ec2_susecloud_net:SLES12-SP1-Updates
repo_33_enabled=1
repo_33_autorefresh=1
